@import url('https://fonts.googleapis.com/css?family=Muli');

/*  navbar  */
.navbar{
  background-color: rgb(91, 184, 241);
}

.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: rgb(91, 184, 241);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown-item:hover {
  color: rgb(91, 184, 241);
  text-decoration: none;
  background-color: white;
}

.btn-outline-success {
  color: white;
  border-color: white;
}

.btn-outline-success:hover {
  color: rgb(91, 184, 241);
  background-color: white;
  border-color: rgb(91, 184, 241);
}
/*  banner  */
.carousel-item {
    height: 75vh;
    min-height: 350px;
    background: no-repeat center bottom scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/*  cards   */
.isi{
  margin:100px 25px 10px 25px;
}  

.card-img-top {
width: 100%;
height: 35vh;
object-fit: cover;
object-position: center center;
}


/***** Footer *****/

body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: left; }

footer strong { font-weight: 600; }

footer a { color: rgb(91, 184, 241); border-bottom: 1px dashed rgb(91, 184, 241); text-decoration: none; transition: all .3s; }
footer a:hover,footer  a:focus { color: rgb(91, 184, 241); border: 0; text-decoration: none; }

footer h1,footer  h2 { margin-top: 10px; font-size: 38px; font-weight: 300; color: #555; line-height: 50px; font-style: italic; }
footer h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; font-style: italic; }

footer img { max-width: 100%; }

.footer-top { padding: 60px 0; text-align: left; color: #fff; color: rgba(255, 255, 255, 0.8); }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #fff; color: rgba(255, 255, 255, 0.5); }

.footer-links a { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { padding: 15px 0 17px 0; background: rgb(8, 10, 99); text-align: left; color: #aaa; }

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: rgb(91, 184, 241); border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }